@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap');

:root{
    background-color: black;
    font-family: "Lexend";
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}
body{
    margin: auto;
}

.header{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    position: fixed;
    z-index: 4;
    width: 100%;
}



.header--wrapper{
    margin: 10px;
    display: flex;
    margin: 0 5vw;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: "Bebas Neue";
}

.header--wrapper_content{
    list-style-type: none;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(.15,.65,.47,.89);
}



.header--wrapper_content a{
    text-decoration: none;
    color: white;
}
.header--wrapper_content a:hover{
    color: rgb(255, 118, 88);
    transition: .3s;
}

.header--logo{
    width: 40vw;
    transition: transform 0.4s cubic-bezier(.15,.65,.47,.89); 
    z-index: 3;
}

#hero{
    background-image:url('../src/bg/fundoComPersonagens.png');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;                
    color: white;                 
    display: flex;                
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative
}

#hero img{
   width: 100%;
}

#smoke{
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  object-fit: cover;  
  z-index: 1;         
  transform: translateX(-15%);
  transition: transform 0.1s linear;
}

#cars{
  z-index: 2;  
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.main--content__s1{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    align-items: center;   
    justify-content: flex-start; 
    
}

.main--content__s1 video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    z-index: -1;
    transform: translate(-50%, -50%); 
    overflow: hidden;
}

.seasonOne_wrap{
    font-size: 16px;
    height: 200px;
    width: 700px;
    padding-left: 5%;
}

#seasonOne_title{
    font-family: "bebas neue";
    font-weight: 200;
    font-size: 1rem;
}

.main--content__s2{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    align-items: center;   
    justify-content: flex-end; 
    
}

.main--content__s2 video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    z-index: -1;
    transform: translate(-50%, -50%); 
    overflow: hidden;
}

.seasonTwo_wrap{
    font-size: 16px;
    height: 200px;
    width: 700px;
    padding-right: 5%;
}

#seasonTwo_title{
    font-family: "bebas neue";
    font-weight: 200;
    font-size: 1rem;
}

#characters{
    margin: 0;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-image: 
    linear-gradient(to top, black, transparent),
    linear-gradient(to bottom, rgb(0, 0, 0), transparent),
    linear-gradient(to right, #b6aea56f, #000000a0),
    url(../src/bg/fundo.avif);
    background-size: cover;
}

#characters-swiper{
    max-width: 170vh;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 100%; /* ou ex: 500px */
}



.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-wrapper{
    max-width: 50vh;
    align-items: center;
}

.slide-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  
}

.slide-text{
    
    text-transform: uppercase;
}

.slide-text h3{
    font-family: "Bebas Neue";
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
    letter-spacing: 0.09rem;
}

.slide-text p{
    font-size: 0.5rem;
    letter-spacing: 0.3rem;
    font-family: "Bebas Neue";
    font-weight: 100;
    margin: 0;
    padding: 0;
}


.slide-img{
    position: relative;
    display: inline-block;
}

#gallery{
    width: 100%;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery-swiper {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.gallery-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color: rgba(255, 255, 255, 0.554);
    transform: scale(0.5);
    z-index: 3;
}

.gallery-swiper .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); 
}

.button{
    font-family: "bebas neue";
    border-radius: 0px;
    width: fit-content;
}

.button:hover{
    background-color: white;
    color: black;
}

#watch-now{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),transparent, transparent),url(../src/bg/mofo.avif);
    background-repeat: no-repeat;
}


#watch-now > * {
  position: relative;
  z-index: 2; 
}

footer{
    height: 25vh;
    width: 100%;
    font-size: 0.4rem;
    align-content: center;
    font-weight: 400;
    text-align: center;
}

footer p{
    padding-top: 3vh;
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
}

.footer-main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10vh;
    font-size: 0.5rem;
}
.footer-wrapper a{
    color: white;
    text-decoration: none;
}
.footer-socials{
    display: flex;
    flex-direction: row;
    gap: 10vh;
}

.footer-socials img{
    height: 6vh;
    
}



@media screen and (max-width: 1214px){
    .header--wrapper{
        gap: 25px;
    }
}

@media screen and (max-width: 1024px){
    .header--logo{
        width: 70vw;
    }
    .header li{
        display: none;
    }

    .tranding-slider{
        transform: scale(0.8);
    }

    #gallery{
        height: 80vh;
    }

    .button{
        transform: scale(1.25);
    }

    footer p{
        padding: 5vh 5vw;
    }
}

@media screen and (max-width: 688px){
    .header--logo{
        width: 70vw;
    }

    .seasonOne_wrap, .seasonTwo_wrap{
        height: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding-right: none;
        padding-left: none;
        padding: 0 12vw;
    }

    footer p{
        padding: 12vh 12vh 6vh;
    }
    .footer-socials{
        flex-direction: column;
        gap:3vh;
    }
    .footer-wrapper{
        flex-direction: column;
        font-size: 0.4rem;
        gap: 5vh;
    }
}

@media screen and (max-width: 425px){
    #gallery{
        height: 60vh;
    }

    .header--logo{
        width: 80vw;
    }
}